@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

